.App {
  text-align: center;
}

.body_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.video_wrapper {
  /* width: 50%; */
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.script_wrapper {
  /* float: left; */
  /* width: 50%; */
  margin-left: 20px;
  margin-right: 20px;
}

.player {
  float: right;
}
