.App {
  text-align: center;
}

.body_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.video_wrapper {
  display: flex;
  flex-direction: column;
}

.script_wrapper {
  width: 50%;
  margin-left: 20px;
  margin-right: 20px;
}

.player {
  float: right;
}
