.script_wrapper {
    display: inline-block;
    width: 50%;

}

.script_block {
    background-color: #ededed;
    max-height: 500px;
    overflow-y: auto;
    padding: 10px 0;
}

.default {
    cursor: pointer;
}

.selected {
    background-color: lightgray;
    cursor: pointer;
}

.sentence_box {
    margin: 5px 0;
}

.type_box {
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 5px 0;
    vertical-align: top;
}

.type {
    width: fit-content; 
    border-radius: 7px;
    padding: 3px 2px;
    float: left;
    font-size: 15px;
}

.text {
    display: inline-block;
    width: 80%;
    text-align: left;
    font-size: 15px;
}