.timeline_wrapper {
  /* float: right; */
  margin-top: 20px;
  position: relative;
}

.timeline {
  /* background-color: lightgray; */
  width: 850px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  z-index: 10;
}

.label_timeline {
  width: 850px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
  /* margin-top: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;
  /* z-index: 10; */
}

.label_box {
  /* background-color: aquamarine; */
  /* z-index: 10; */
}

.progressbar_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.progressbar {
  /* background-color: black; */
  border-radius: 5px;
  height: 20px;
  margin-top: 20px;
}

.pin {
  margin-left: -25px;
  margin-top: -28px;
  z-index: 20;
}
